.cartitem1{
  padding: 0.8rem;
  border-bottom: 1px solid rgb(94, 91, 91);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartitem1 button{
border-radius: 8px;
padding: 0.3rem 0.8rem;
margin: 0 0.2rem;
font-size: 1.1rem;
}
.cartitem1 .price {
  color: brown;
  font-weight: bold;
  margin-bottom: 12rem;

}

.info{
  display: flex;
  
  justify-content: space-around;
  gap: 6rem;
}
.cartitem1 .count {
border: 0.5px solid rgb(151, 146, 146);
padding: 0.1rem 0.6rem;
border-radius: 8px;
margin-left:2.5rem;
text-align: center;
font-weight: bold;
}
.cartdata{
  max-height: 15rem;
  overflow-y: scroll;
}

  
.name{
    font-weight: bold;
}
.matter{
    display: flex;
    justify-content: space-between;
}
.button{
    float: right;
}
.button button{
    border-radius: 20px;
    padding: 0.5rem 1.8rem;
    margin: 0.5rem;
}
.button button:nth-child(2){
background-color: brown;
color: aliceblue;
}
.button button:nth-child(1){
    background-color:white ;
    color: brown;
    }