.bagroundimage{
    background-image: url(https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg?cs=srgb&dl=pexels-craig-adderley-1563356.jpg&fm=jpg);
    width: 100%;
    height: 50vh;
}
.header{
    display: flex;
    background-color: aquamarine;
    justify-content: space-around;
    background-color: brown;
   
}

.forhead{
   
    float:right;
    padding: 1rem;

    font-size: 2rem;
    color: white;
    
}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
  
}